<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
  
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" style="background-color:#FFFFFF">
      <div data-view="Image" data-image="/logo.png"></div>
    </li>
    

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="speedmeter" data-view="Meter" data-min="0" data-max="300" style="background-color:#d50075"></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="speedmeter_data" data-view="Meter" data-min="0" data-max="90500" style="background-color:#96bf48"></div>
    </li>
    
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="Buzzwords" data-moreinfo="# of times said around the office"
      style="background-color:#66C2FF"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="datasets" data-view="Text" data-title="Datasets" data-text=""  style="background-color:#99D6FF"></div>
    </li>
    


  </ul>
  <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center>
</div>